@import '../../../styles-base/_variables';

.anno-job {
    .test {
        width: 100%;
        height: 600px;
        background-color: black;

        .spinner {
            position: absolute;
            z-index: 10;
            height: 15%;
        }
    }

    &__popup {
        display: none;
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        -webkit-box-flex-direction: row;
        -moz-box-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        height: 100%;
        justify-content: center;

        .content {
            background-color: white;
            width: 100%;
            min-width: 600px;
            padding: 20px;
            display: flex;
            flex-direction: column;

            span.closeModal {
                display: flex;
                justify-content: flex-end;
                font-size: 2em;
                color: gray;
            }

            .popup-ctas {
                display: flex;

                .saveBtn {
                    background-color: $cyn-dark-gray;
                    color: white;
                    padding: 14px 35px;
                    font-size: 1.3em;
                    border-radius: 2px;
                    margin: 20px auto;
                }
            }
        }

        .popup-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .annotation-info {
            padding: 40px 0 0;

            h3,
            ul {
                text-align: left;
                padding: 0;
            }

            li {
                list-style: none;
                padding: 10px;
                font-size: 1em;
            }
        }

        .annotation-save-form {
            text-align: left;
            padding: 0 10px;
        }
    }

    &__image-controls {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        &__reset {
            text-transform: uppercase;
            text-decoration: none;
            color: #888888;
        }

        &__magnifier {
            display: flex;
            justify-content: flex-end;
            align-self: flex-end;
            overflow: hidden;

            button:first-child {
                border-right: none;
                border-left: 2px solid $cyn-dark-gray;
                border-top: 2px solid $cyn-dark-gray;
                border-bottom: 2px solid $cyn-dark-gray;
                background-color: $cyn-light-gray;
                cursor: pointer;
            }

            button:last-child {
                border-left: none;
                border-right: 2px solid $cyn-dark-gray;
                border-top: 2px solid $cyn-dark-gray;
                border-bottom: 2px solid $cyn-dark-gray;
                background-color: $cyn-light-gray;
                cursor: pointer;
            }

            span {
                border-top: 2px solid $cyn-dark-gray;
                border-bottom: 2px solid $cyn-dark-gray;
                padding: 0;
                background-color: $cyn-light-gray;
            }
        }
    }

    &__saving-controls {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px auto;

        .ocludded-checkbox {
            list-style: none;
            display: flex;
            padding: 10px;
            font-size: 0.8em;
            text-align: left;

            label {
                font-size: 1.7em;
            }
        }

        button {
            background-color: $cyn-dark-gray;
            color: white;
            padding: 14px 35px;
            font-size: 1.3em;
            border-radius: 2px;
        }
    }

    &__review-controls {
        display: flex;
        justify-content: space-around;
        height: 100px;

        img {
            cursor: pointer;
            width: 100px;
        }
    }
}

.select-areas-outline {
    background: #fff url('outline.gif');
    overflow: hidden;
}

.select-areas-resize-handler {
    background-color: #000;
    border: 1px #fff solid;
    height: 8px;
    width: 8px;
    overflow: hidden;
}

.select-areas-delete-area {
    background: url('bt-delete.png');
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.delete-area {
    position: absolute;
    cursor: pointer;
    padding: 5px;
}

body {
    overflow: hidden;
}

#pane,
.annotation {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 20%;
    left: 20%;
    margin: 0;
    padding: 0;
    z-index: 5;
    border: 2px solid red;
    // background: #fefefe;
}

.annotation {
    // border: 2px solid red !important;
    // opacity: 1 !important;
    // background: none !important;

    &.non-editable {
        cursor: auto;
        border: 2px dashed red;
        // outline: 1px solid rgba(255,255,255,.2);
        // background-color: rgba(255,255,0,.15);
        background-image: linear-gradient(45deg, rgba(255,255,255,.075) 25%, transparent 25%),
                          linear-gradient(-45deg, rgba(255,255,255,.075) 25%, transparent 25%),
                          linear-gradient(45deg, transparent 75%, rgba(255,255,255,.075) 75%),
                          linear-gradient(-45deg, transparent 75%, rgba(255,255,255,.075) 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
        // opacity: 0.2 !important;
    }
    &.new-annotation {
        // opacity: 1 !important;
    }
}

#title {
    font-family: monospace;
    background: purple;
    color: white;
    font-size: 24px;
    height: 30px;
    text-align: center;
}

#ghostpane {
    background: #999;
    opacity: 0.2;
    width: 20%;
    height: 20%;
    top: 20%;
    left: 20%;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 98;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
