.header {padding-bottom: 0;
    &__wrapper {
        width: 100%;
        max-width: $screen-md;
        min-height: 110px;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .logo {
        height: 70px;
        display: flex;
        order: 3;
        align-self: end;
        margin: 10px 0;
    }

    &__label {
        display: flex;
        flex-direction: column-reverse;
    }

    &__items {
        order: 2;
        display: flex;
        flex-direction: column;
        height: 50px;
    }

    &__text {
        color: $cyn-white;
        display: flex;
        justify-content: center;
        padding: 0 20px;
        font-size: 1.3em;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        margin-top: 15px;
    }

    a {
        text-decoration: none;
    }

    &__items {
        order: 3;
        flex-direction: row;
    }

    &__menu-button {
        text-transform: uppercase;
        text-decoration: none;
        color: $cyn-dark-gray;
        padding: 0 20px;
    }

    &__label {
        width: 110px;
        height: 60px;
        margin: 0 20px;
    }

    &__label:after {
        border-left: 55px solid transparent;
        border-right: 55px solid transparent;
    }
}
