.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    background-color: $cyn-light-gray;
    padding-bottom: 30px;
    .logo {
        height: 50px;
        order: 1;
        margin: 0 auto;
        display: flex;
    }
    &__items {
        order: 3;
    /* display: flex; */
    /* flex-direction: row; */
    padding: 50px 0 20px 0;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: cente
    }
    &__menu-button {
        text-transform: uppercase;
        text-decoration: none;
        color: $cyn-dark-gray;
        margin: 10px 20px;
        text-align: center;
    }
    &__text {
        color: $cyn-white;
        display: flex;
        align-items: center;
        padding: 0 20px;
        font-size: 0.8em;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
    }
    &__label {
        width: 100px;
        height: 20px;
        background: $cyn-orange;
        position: relative;
        // margin: 0 auto 50px auto;
        padding: 10px 0;
        display: flex;
        align-self: end;
        justify-content: center;
        margin: 0 auto;
    }

    &__label:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: -25px;
        left: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 25px solid $cyn-orange;
    }

}

.nav {
    &__items {
        &:hover {
            .nav__subitems {
                display: block;
            }
        }
    }

    &__subitems {
        background-color: $cyn-light-gray;
        display: none;
        & > a {
            
        }
    }
}
