.tagging {
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;

    .wrapper {
        width: 100%;
        margin: 0 auto;
    }

    &__guideline {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;

        li {
            padding: 0 10px;
            font-size: 1em;
        }
    }

    &__content {

        overflow: hidden;
    }
    &__magnifier {


        button:first-child {

        }

        button:last-child {

        }

        span {

            padding: 2px;

        }
    }
    &__image {
        width: 100%;
        overflow: hidden;
    }

    &__ctas {
        img {
            width: 100px;
            margin: 20px 100px;
        }
    }
    &__popup {
        display: none;
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        -webkit-box-flex-direction: row;
        -moz-box-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        height: 100%;
        justify-content: center;

        .content {
            background-color: white;
            width: 100%;
            padding:20px  50px ;
            display: flex;
            flex-direction: column;

            span.closeModal {
                display: flex;
                justify-content: flex-end;
                font-size: 2em;
                color: gray;
            }
            .popup-options {
                display: flex;
                align-self: normal;
                align-items: self-start;
                flex-direction: column;
                margin: 0;
                padding: 0;
                min-width: 500px;
                
                li {
                    list-style: none;
                    padding: 10px;
                    font-size: 1em;
                    span{
                        padding: 0 10px;
                    }
                }
            }

            .popup-ctas {
                display: flex;

                .saveBtn {
                    background-color: $cyn-dark-gray;
                    color: white;
                    padding: 14px 35px;
                    font-size: 1.3em;
                    border-radius: 2px;
                    margin: 20px auto;
                }
            }
        }

        .popup-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
