.tagging {
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;

    .wrapper {
        width: 100%;
        margin: 0 auto;
    }

    &__guideline {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;

        li {
            padding: 0 10px;
            font-size: 0.8em;
        }
    }

    &__content {
        overflow: hidden;
    }

    &__magnifier {
        display: flex;
        justify-content: flex-end;
        overflow: hidden;

        button:first-child {
            border-right: none;
            border-left: 2px solid $cyn-dark-gray;
            border-top: 2px solid $cyn-dark-gray;
            border-bottom: 2px solid $cyn-dark-gray;
            background-color: $cyn-light-gray;
            cursor: pointer;
        }

        button:last-child {
            border-left: none;
            border-right: 2px solid $cyn-dark-gray;
            border-top: 2px solid $cyn-dark-gray;
            border-bottom: 2px solid $cyn-dark-gray;
            background-color: $cyn-light-gray;
            cursor: pointer;
        }

        span {
            border-top: 2px solid $cyn-dark-gray;
            border-bottom: 2px solid $cyn-dark-gray;
            padding: 0;
            background-color: $cyn-light-gray;
        }
    }

    &__image {
        width: 100%;
        overflow: hidden;
    }

    &__ctas {
        img {
            width: 50px;
            margin: 20px;
        }
    }

    &__popup {
        display: none;
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        -webkit-box-flex-direction: row;
        -moz-box-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        height: 100%;
        justify-content: center;

        .content {
            background-color: white;
            width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;

            span.closeModal {
                display: flex;
                justify-content: flex-end;
                font-size: 2em;
                color: gray;
            }

            .popup-options {
                display: flex;
                align-self: normal;
                align-items: self-start;
                flex-direction: column;
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    display: flex;
                    padding: 10px;
                    font-size: 0.8em;
                    text-align: left;

                    span {
                        padding: 0 10px;
                    }

                    .checkbox-custom,
                    .radio-custom {
                        opacity: 0;
                        position: absolute;
                    }

                    .checkbox-custom,
                    .checkbox-custom-label,
                    .radio-custom,
                    .radio-custom-label {
                        display: inline-block;
                        vertical-align: middle;
                        margin: 5px;
                        cursor: pointer;
                    }

                    .checkbox-custom-label,
                    .radio-custom-label {
                        position: relative;
                    }

                    .checkbox-custom + .checkbox-custom-label:before,
                    .radio-custom + .radio-custom-label:before {
                        content: '';
                        background: $cyn-white;
                        border: 2px solid $cyn-dark-gray;
                        display: inline-block;
                        vertical-align: middle;
                        width: 20px;
                        height: 20px;
                        padding: 2px;
                        margin-right: 10px;
                        text-align: center;
                    }

                    .checkbox-custom:checked + .checkbox-custom-label:before {
                        background: $cyn-dark-gray;
                        box-shadow: inset 0 0 0 0 $cyn-white;
                    }

                    .radio-custom + .radio-custom-label:before {
                        border-radius: 50%;
                    }

                    .radio-custom:checked + .radio-custom-label:before {
                        background: #ccc;
                        box-shadow: inset 0 0 0 4px $cyn-white;
                    }

                    .checkbox-custom:focus + .checkbox-custom-label,
                    .radio-custom:focus + .radio-custom-label {
                        outline: 1px solid $cyn-dark-gray;
                        /* focus style */
                    }
                }
            }

            .popup-ctas {
                display: flex;

                .saveBtn {
                    background-color: $cyn-dark-gray;
                    color: white;
                    padding: 14px 35px;
                    font-size: 1.3em;
                    border-radius: 2px;
                    margin: 20px auto;
                }
            }
        }

        .popup-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
