.login {
    form {
        h2 {
            font-size: 1.3em;
        }

        .logo {}

        .divider {}

        .login-error {}

        input {
            width: 100%;
        }

        input[type="submit"] {}

        .loginBtn {}

        .spinner {}

        a {}

        .bottom-row {}
    }
}
