.registration {
    width: 100%;
    height: 100%;
    color: black;
    margin: 50px auto;

    .logo {
        width: 100px;
        margin: 0 auto;
        display: flex;
    }

    h2 {
        margin: 20px auto;
        font-size: 1.9em;
        text-align: center;
    }

    h3 {
        margin: 20px auto;
        font-size: 1.2em;
        text-align: center;
    }

    .bottom-row {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin: 10px 0;

        a {
            text-align: left;
            width: 100%;
            padding: 0;
            margin: 0;
        }

        .loginBtn {
            background-color: $cyn-dark-gray;
            color: white;
            padding: 14px 35px;
            font-size: 1.3em;
            border-radius: 5px;
            margin: 20px auto;
        }
    }

    &__success {
        display: flex;
        flex-direction: column;
        align-items: center;
        .check{
            width: 180px;
        }
        span{
            font-size: 1.5em;
        }
    }

    form {
        margin: 0 auto;
        padding-top: 50px;
        max-width: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .divider {
            height: 1px;
            background-color: white;
        }

        .login-error {
            margin-bottom: 20px;
        }

        input {
            border-radius: 4px;
            padding: 10px;
            border: transparent;
            outline: none;
            background-color: #e1e1e1;
            margin-top: 20px;
            width: 90%;
            margin: 10px auto;
        }

        input[type="submit"] {
            height: 38px;
            margin-top: 0;
        }

        .spinner {
            width: 38px;
            height: 38px;
            margin: 0 auto;
        }
    }
}
