.addUser {
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;

    h3 {
        font-weight: normal;
    }

    input {
        display: flex;
        border-radius: 4px;
        padding: 10px;
        border: transparent;
        outline: none;
        background-color: $cyn-light-gray;
        width: 90%;
        margin: 20px auto;
    }

    .sentBtn {
        background-color: $cyn-dark-gray;
        color: white;
        padding: 14px 35px;
        font-size: 1.3em;
        border-radius: 5px;
        margin-top: 50px;
    }
}
