.login {
    .logo{
        height: 70px;

    }
    form {
        width: 340px;
        h2 {
            font-size: 1.2em;
        }

        .logo {}

        .divider {}

        .login-error {}

        input {
            width: 100%;
            max-width: 320px;
        }

        input[type="submit"] {}

        .loginBtn {}

        .spinner {}

        a {}

        .bottom-row {
            margin: 10px 0;
        }
    }
}
