.login {
    width: 100%;
    height: 100%;
    color: black;
    .logo{
        height: 50px;

    }
    form {
        margin: 0 auto;
        padding:10px;
        // max-width: 300px;
        // width: 100%;
        display: flex;
        flex-direction: column;

        h2 {
            margin: 20px auto;
            font-size: 1em;
        }
        h3 {
            margin: 0 auto;
            font-size: 0.9em;
        }

        .logo {
            width: 200px;
            margin: 0 auto;
        }

        .divider {
            height: 1px;
            background-color: white;
        }

        .login-error {
            margin-bottom: 20px;
        }

        input {
            border-radius: 4px;
            padding: 10px;
            border: transparent;
            outline: none;
            background-color: #e1e1e1;
            margin-top: 20px;
            width: 100%;
            margin: 10px auto;
            max-width: 280px;
        }

        input[type="submit"] {
            height: 38px;
            margin-top: 0;
        }



        .spinner {
            width: 38px;
            height: 38px;
            margin: 0 auto;
        }



        .bottom-row {
            display: flex;
            align-items: flex-end;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            a{
                text-align: left;
                width: 100%;
                padding: 0;
                margin: 0;
                color: $cyn-dark-gray;
                font-size: 0.8em;

            }
            .loginBtn {
                background-color: $cyn-dark-gray;
                color: white;
                padding: 10px 30px;
                font-size: 1.3em;
                border-radius: 5px;
                margin: 0 auto;
            }
            .forgotPassword{

            }
        }
    }
}
