.tags {
    margin: 0 auto;
    text-align: center;
    .wrapper{
        width: 400px;
        margin: 0 auto;
    }
    h3 {
        font-weight: normal;
    }

    input {
        display: flex;
        border-radius: 4px;
        padding: 10px;
        border: transparent;
        outline: none;
        background-color: #e1e1e1;
        width: 100%;
        margin: 20px auto;
    }

    &__list {

        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
    }

    &__item {
        list-style: none;
        font-size: 1.8em;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        color: $cyn-dark-gray;
        font-weight: 500;
        span {
            font-size: 0.7em;
            color:$cyn-black;
            font-weight: normal;
        }
    }
    .saveBtn{
        background-color: $cyn-dark-gray;
        color: white;
        padding: 14px 35px;
        font-size: 1.3em;
        border-radius: 5px;
        margin: 20px auto;
    }
}
