@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


$color-white: #fff;
$cyn-Sangria: #9e0000;
$cyn-white: #fff;
$cyn-black: #000;
$cyn-light-gray: #e1e1e1;
$cyn-dark-gray: #888888;
$cyn-headers:#585555;
$cyn-light-blue: cornflowerblue;
$cyn-green: #417505;
$cyn-light-green: #7ed321;
$cyn-orange:#FF2E1B;
$gray-base: #000 !default;
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
// Extra small screen / phone
// ** Deprecated `$screen-xs` as of v3.0.1//
$screen-xs: 480px !default; // ** Deprecated `$screen-xs-min` as of v3.2.0//
$screen-xs-min: $screen-xs !default; // ** Deprecated `$screen-phone` as of v3.0.1//
$screen-phone: $screen-xs-min !default; // Small screen / tablet//
// ** Deprecated `$screen-sm` as of v3.0.1//
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default; // ** Deprecated `$screen-tablet` as of v3.0.1//
$screen-tablet: $screen-sm-min !default; // Medium screen / desktop///
// ** Deprecated `$screen-md` as of v3.0.1//
$screen-md: 1024px !default;
$screen-md-min: $screen-md !default; // ** Deprecated `$screen-desktop` as of v3.0.1//
$screen-desktop: $screen-md-min !default; // Large screen / wide desktop//
// ** Deprecated `$screen-lg` as of v3.0.1//
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default; // ** Deprecated `$screen-lg-desktop` as of v3.0.1//
$screen-lg-desktop: $screen-lg-min !default;
$xsmall: "only screen and (max-width: 480px)";
$small: "only screen and (min-width: 481px) and (max-width: 768px)";
$medium: "only screen and (min-width: 769px) and (max-width: 1024px)";
$large: "only screen and (min-width: 1025px) and (max-width: 1380px)";
$xlarge: "only screen and (min-width: 1381px)";
$small-plus: "only screen and (min-width: 481px)";
$medium-plus: "only screen and (min-width: 769px)";
$large-plus: "only screen and (min-width: 1025px)";
$xlarge-plus: "only screen and (min-width: 1381px)";
$xxlarge-plus: "only screen and (min-width: 1441px)";

.hidden-xs{
  display: none !important;
  @media screen and (min-width: $screen-sm) {
    display: flex !important;
  }
}

.errorMessage{
  color: $cyn-Sangria;
  font-size: 1.5em;
}
