@import 'normalize';
@import 'variables';

#root,
body,
html {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.mainHeader {
    border-bottom: 3px solid $cyn-Sangria;
    text-align: left;
    padding: 10px 0;
    font-weight: 700;
    margin: 20px 0;
    font-size: 1.3em;
    color:$cyn-headers;
    @media (min-width: 48em) {
     font-size: 1.7em;
    }
}

.appMainWrapper{
    width: 100%;
    max-width: $screen-md;
    min-height: 110px;
    justify-content: space-between;
    margin: 0 auto;

}

.checkbox-custom,
.radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom,
.checkbox-custom-label,
.radio-custom,
.radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label,
.radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before,
.radio-custom + .radio-custom-label:before {
    content: '';
    background: $cyn-white;
    border: 2px solid $cyn-dark-gray;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: $cyn-dark-gray;
    box-shadow: inset 0 0 0 0 $cyn-white;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #ccc;
    box-shadow: inset 0 0 0 4px $cyn-white;
}

.checkbox-custom:focus + .checkbox-custom-label,
.radio-custom:focus + .radio-custom-label {
    outline: 1px solid $cyn-dark-gray;
}