#App {
  width: 100%;
  /*max-width: 1024px;*/
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family:  'Roboto', sans-serif;
  .routes {
    flex: 1;
    /*background-color: red;*/
    overflow: hidden;
  }

}
